.c-white {
    color: #E2F3F5;
    
}

.c-whiteBg{
    background-color: #E2F3F5; 
}

.c-lightBlue{
    color: #22D1EE;
   
}

.c-lightBlueBg{
    background-color: #22D1EE;
}

.c-paraBlue{
    color: #278EA5;

}

.c-paraBlueBg{
    background-color: #278EA5;
}

.c-midBlue{
    color: #226089;
}

.c-midBlueBg{
    background-color: #226089;
}

.c-bg{
    color: #0E153A;
}

.c-bgbg{
    background-color: #0E153A;
}

.c-fontTitles{
    font-size: 70px;
}

.c-subtitle{
    font-size: 48px;
}

.c-paraFont{
    font-size: 34
}