.c-white {
    color: #E2F3F5;
    
}

.c-whiteBg{
    background-color: #E2F3F5; 
}

.c-lightBlue{
    color: #22D1EE;
   
}

.c-lightBlueBg{
    background-color: #22D1EE;
}

.c-paraBlue{
    color: #278EA5;

}

.c-paraBlueBg{
    background-color: #278EA5;
}

.c-midBlue{
    color: #226089;
}

.c-midBlueBg{
    background-color: #226089;
}

.c-bg{
    color: #0E153A;
}

.c-bgbg{
    background-color: #0E153A;
}

.c-container{   
    border-radius: 30px;
    max-width: 250px;
    max-height: 250px;
}

.c-img {
    border-radius: 30px;
    max-width: 100%;
    max-height: 100%;
}

#contact-left{float:left;width:100px;}
#contact-right{float:right;width:100px;}
