.c-white {
    color: #E2F3F5;
    background-color: #E2F3F5; 
}

.c-lightBlue{
    color: #22D1EE;
    background-color: #22D1EE;
}

.c-paraBlue{
    color: #278EA5;
    background-color: #278EA5;

}

.c-midBlue{
    color: #226089;
    background-color: #226089;
}

.c-bg{
    color: #0E153A;
    background-color: #0E153A;
}